{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
<div class="mx-auto" style="max-width: 500px;">
<h2>Book Room: {{ room.room_type }} (Room {{ room.room_number }})</h2>
<form method="POST">
    {% csrf_token %}

    <label>Your Name</label>
    <input type="text" name="name" class="form-control" required>

    <label>Your Email</label>
    <input type="email" name="email" class="form-control" required>
 
    <label>Check-In Date</label>
    <input type="date" name="checkin" class="form-control" required>

    <label>Check-Out Date</label>
    <input type="date" name="checkout" class="form-control" required>

    <button class="btn btn-primary mt-3">Confirm Booking</button>
</form>
{% endblock %}
