{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
<div class="mx-auto" style="max-width: 500px;">
<h2>Payment for Room {{ booking.room.room_number }}</h2>
<p>Amount: <strong>${{ booking.room.price }}</strong></p>
<label>Phone Number:</label>
<input type="text" name="phone_number" class="form-control" placeholder="Enter phone number" required>

<form method="POST">
    {% csrf_token %}
    <button class="btn btn-primary mt-3 w-60">Pay Now</button>
</form>
{% endblock %}
